body {
    background-image: url("images/pocket-watch-3156771_960_720.jpg");
    background-size: cover;
}

@media (width < 900px) {
    body {
        background-image: none;
    }
}

footer {
    margin-left: 35%;
    margin-top: 10px;
    display: inline-block;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #fff;
    opacity: 0.9;
}

footer a {
    color: #5555b1;
}

@media (width < 900px) {
    footer {
        margin-left: 0;
    }
}

.formattingDate label {
    margin-right: 1em;
    font-style: italic;
}

.formattingDate input {
    margin-right: 2em;
}

.selectCity input,
.selectCity select {
    min-width: 300px;
    border-radius: 6px;
    padding: 3px;
}

.selectCity label {
    font-weight: 500;
}

.selectCity .button {
    margin-top: 5px;
    margin-left: 15em;
    min-width: 100px;
}

.block {
    display: block;
}

.horloge {
    margin-top: 2%;
    margin-left: 35%;
    background-color: blueviolet;
    display: inline-block;
    padding: 13px;
    border: 2px solid #000;
    border-radius: 15px;
    color: #fff;
    box-shadow: 4px 3px rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 18px;
}

@media (width < 900px) {
    .horloge {
        margin-left: 10%;
        font-size: 16px;
    }
}

.horloge h1 {
    text-align: center;
}

.date {
    opacity: 0.7;
    font-size: 24px;
}

.timezoneArea small {
    font-size: 12px;
    vertical-align: middle;
}

.timezoneArea big {
    position: relative;
    top: 8px;
    font-size: 36px;
}

@media (width < 900px) {
    .timezoneArea small {
        font-size: 10px;
    }
}

.timezoneHeader {
    font-style: italic;
}

.actualTiming {
    border-bottom: 1px dashed grey;
    padding-bottom: 15px;
}

.actualTiming:last-child {
    border: none;
}